# Ignore Mac DS_Store files
.DS_Store
.idea

# Django
*.log
config/settings/local.py
local_settings.py
static/documents/
media/
/media/

# Vim backup files
*~

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# Vim backup files
*~

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__
*$py.class

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
ROMA/media/

# Hitch directory
tests/.hitch

# MailHog binary
mailhog

#Solaris
local.py
local_settings.py
static/documents/
